{% extends "Theme.twig" %}

{% block content %}

    <h1>BUY TICKETS</h1>
    <small>Order ID: {{ ticketOrderId }}</small>
    <hr class="blockspace">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!--suppress HtmlUnknownTarget -->
            <a href="/tickets/" class="text-muted">
                <i class="fas fa-arrow-left"></i> BACK
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <!--suppress HtmlUnknownTarget -->
            <form action="/tickets/abort/" method="post">
                <button type="submit" class="btn-link" style="margin: 0; padding: 0;">
                    <span class="text-danger">
                        <i class="fas fa-ban"></i> ABORT
                    </span>
                </button>
            </form>
        </div>
    </div>

    {% if ticketDetailsForm.hasFeedback('general') %}
        <div class="blockspace alert alert-danger">
            {{ ticketDetailsForm.getFeedback('general').getMessage() }}
        </div>
    {% endif %}

    <!--suppress HtmlUnknownTarget -->
    <form method="post" action="/tickets/save-details/" id="save-ticket-details-form">
        <input type="hidden" name="token" value="{{ ticketDetailsForm.getToken }}">

        <h2>Billing information</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group{% if ticketDetailsForm.hasFeedback('companyName') %} has-error{% endif %}">
                    <label class="control-label" for="companyName">Company <span
                                class="text-muted">(optional)</span></label>
                    <input type="text" name="companyName" id="companyName" class="form-control"
                           value="{{ ticketDetailsForm.get('companyName') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('companyName').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('firstname') %} has-error{% endif %}">
                    <label class="control-label" for="firstname">Firstname <span class="text-danger">*</span></label>
                    <input type="text" name="firstname" id="firstname" class="form-control"
                           value="{{ ticketDetailsForm.get('firstname') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('firstname').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('lastname') %} has-error{% endif %}">
                    <label class="control-label" for="lastname">Lastname <span class="text-danger">*</span></label>
                    <input type="text" name="lastname" id="lastname" class="form-control"
                           value="{{ ticketDetailsForm.get('lastname') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('lastname').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('email') %} has-error{% endif %}">
                    <label class="control-label" for="email">Email address <span class="text-danger">*</span></label>
                    <input type="email" name="email" id="email" class="form-control"
                           value="{{ ticketDetailsForm.get('email') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('email').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('emailRepeat') %} has-error{% endif %}">
                    <label class="control-label" for="emailRepeat">Repeat email address <span
                                class="text-danger">*</span></label>
                    <input type="email" name="emailRepeat" id="emailRepeat" class="form-control"
                           value="{{ ticketDetailsForm.get('emailRepeat') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('emailRepeat').getMessage }}</span>
                </div>
                <div class="form-group">
                    <p>
                        We will use this email address to send you:
                    </p>
                    <ul style="padding-left: 15px;">
                        <li>
                            A ticket purchase confirmation incl. the PDF invoice
                        </li>
                        <li>
                            The PDF tickets for all of your attendees
                        </li>
                        <li>
                            Organisational information regarding the event
                        </li>
                    </ul>
                    <p>
                        We will <b>NOT</b> give this email address to third parties or use this email
                        address to send you any advertisements.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group{% if ticketDetailsForm.hasFeedback('streetWithNumber') %} has-error{% endif %}">
                    <label class="control-label" for="streetWithNumber">Street with No. <span
                                class="text-danger">*</span></label>
                    <input type="text" name="streetWithNumber" id="streetWithNumber" class="form-control"
                           value="{{ ticketDetailsForm.get('streetWithNumber') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('streetWithNumber').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('addressAddon') %} has-error{% endif %}">
                    <label class="control-label" for="addressAddon">Address addon <span
                                class="text-muted">(optional)</span></label>
                    <input type="text" name="addressAddon" id="addressAddon" class="form-control"
                           value="{{ ticketDetailsForm.get('addressAddon') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('addressAddon').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('zipCode') %} has-error{% endif %}">
                    <label class="control-label" for="zipCode">ZIP <span class="text-danger">*</span></label>
                    <input type="text" name="zipCode" id="zipCode" class="form-control"
                           value="{{ ticketDetailsForm.get('zipCode') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('zipCode').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('city') %} has-error{% endif %}">
                    <label class="control-label" for="city">City <span class="text-danger">*</span></label>
                    <input type="text" name="city" id="city" class="form-control"
                           value="{{ ticketDetailsForm.get('city') }}">
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('city').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('countryCode') %} has-error{% endif %}">
                    <label class="control-label" for="countryCode">Country <span class="text-danger">*</span></label>
                    <select name="countryCode" id="countryCode" class="form-control">
                        <option value="">-- Please select --</option>
                        {% for code, name in countryCodes %}
                            <option value="{{ code }}"{% if ticketDetailsForm.get('countryCode') == code %} selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                    <span class="text-danger">{{ ticketDetailsForm.getFeedback('countryCode').getMessage }}</span>
                </div>
                <div class="form-group{% if ticketDetailsForm.hasFeedback('vatNumber') %} has-error{% endif %}">
                    <label class="control-label" for="vatNumber">VAT Number </label>
                    <input type="text" name="vatNumber" id="vatNumber" class="form-control"
                           value="{{ ticketDetailsForm.get('vatNumber') }}">
                    <span class="help-block small">
                        <i class="fas fa-info-circle"></i>
                        The VAT number is required for companies located outside of Germany.
                    </span>
                </div>
                <div class="form-group">
                    <span class="text-danger">
                        * Required fields
                    </span>
                </div>
            </div>
        </div>

        <hr>

        <h2>Attendee information / Discounts</h2>
        <p>
            For our swag, insurance reasons and as a requirement from the venue, we need to know the name of all
            attendees. Please enter the names accordingly for each selected ticket. If you have a discount code,
            please enter it at the appropriate ticket.
        </p>

        {% for ticket in selectedTickets.getTickets %}
            <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
                    <h4><span class="text-muted">{{ ticket.getQuantity }}x</span> {{ ticket.getName }}</h4>
                    <p class="small">
                        {{ ticket.getDescription|raw }}
                    </p>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4 text-right">
                    <h3>
                        {{ ticket.getPrice.getMoney.multiply(ticket.getQuantity)|formatMoney }}
                    </h3>
                    <small>
                        ({{ ticket.getQuantity }}x {{ ticket.getPrice.getMoney|formatMoney }})
                    </small>
                </div>
            </div>
            {% for i in 0..ticket.getQuantity-1 %}
                {% set attendeeKey = 'attendees[' ~ ticket.getId ~ '][' ~ i ~ ']' %}
                {% set discountKey = 'discounts[' ~ ticket.getId ~ '][' ~ i ~ ']' %}
                <div class="row">
                    <div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
                        <div class="form-group{% if ticketDetailsForm.hasFeedback(attendeeKey) %} has-error{% endif %}">
                            <label class="control-label" for="{{ attendeeKey }}">
                                Fullname of {{ i+1 }}. attendee <span class="text-danger">*</span>
                            </label>
                            <input type="text" name="{{ attendeeKey }}" id="{{ attendeeKey }}" class="form-control"
                                   value="{{ ticketDetailsForm.get('attendees')[ticket.getId.toString][i] }}">
                            <span class="text-danger">{{ ticketDetailsForm.getFeedback(attendeeKey).getMessage }}</span>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
                        <div class="form-group{% if ticketDetailsForm.hasFeedback(discountKey) %} has-error{% endif %}">
                            <label class="control-label" for="{{ discountKey }}">
                                Discount code <span class="text-muted">(optional)</span>
                            </label>
                            <input type="text" name="{{ discountKey }}" id="{{ discountKey }}" class="form-control"
                                   value="{{ ticketDetailsForm.get('discounts')[ticket.getId.toString][i] }}">
                            <span class="text-danger">{{ ticketDetailsForm.getFeedback(discountKey).getMessage }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <hr>
        {% endfor %}

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <p>
                    <span class="text-danger">* Required fields</span>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right">
                <h3>
                    Subtotal {{ selectedTickets.getTotalPrice|formatMoney }}
                </h3>
                <small>(incl. VAT, excl. discounts & payment fee)</small>
            </div>
        </div>

        <hr>

        <h2>Diversity donation</h2>

        <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-9 col-lg-9">
                <p>
                    With a voluntary donation, you can help us get people from under-represented groups to attend our
                    conference. With a max. donation of &euro;800 you automatically become an official sponsor
                    of our <a href="/become-sponsor.html" target="_blank">diversity scholarship program</a>.
                    <b>#DiversityMatters</b>
                </p>
                <div class="form-group">
                    <label for="diversityDonation">Your contribution</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            &euro;
                        </span>
                        <input type="number" value="{{ ticketDetailsForm.get('diversityDonation')|default('0') }}"
                               step="1" min="0" max="800" list="defaultDonations"
                               name="diversityDonation"
                               id="diversityDonation" class="form-control" style="max-width: 150px">
                    </div>
                    <datalist id="defaultDonations">
                        <option value="10">
                        <option value="50">
                        <option value="100">
                        <option value="250">
                        <option value="500">
                        <option value="800">
                    </datalist>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-3 col-lg-3">
                <img src="{{ project.getBaseUrl }}/assets/images/rainbowlephpant.png" alt="RainbowLePHPant">
            </div>
        </div>

        <hr>

        <h2>Payment method</h2>

        <div class="row payment-methods">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <div class="radio{% if ticketDetailsForm.get('paymentProvider') in ['PayPal', ''] %} active{% endif %}">
                    <label>
                        <input type="radio" name="paymentProvider"
                               value="PayPal"{% if ticketDetailsForm.get('paymentProvider') in ['PayPal', ''] %} checked{% endif %}>
                        <img src="{{ project.getBaseUrl }}/assets/images/payments/paypal.png" class="img-responsive">
                        <br><small>PayPal balance, Credit Card, Bank account</small>
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                <div class="radio{% if ticketDetailsForm.get('paymentProvider') == 'Stripe' %} active{% endif %}">
                    <label>
                        <input type="radio" name="paymentProvider"
                               value="Stripe"{% if ticketDetailsForm.get('paymentProvider') == 'Stripe' %} checked{% endif %}>
                        <img src="{{ project.getBaseUrl }}/assets/images/payments/stripe.png" class="img-responsive">
                        <br><small>Credit Cards</small>
                    </label>
                </div>
            </div>
        </div>

        {% if ticketDetailsForm.hasFeedback('paymentProvider') %}
            <div class="blockspace alert alert-danger">
                {{ ticketDetailsForm.getFeedback('paymentProvider').getMessage() }}
            </div>
        {% endif %}

        <hr>

        {% if ticketDetailsForm.hasFeedback('general') %}
            <div class="blockspace alert alert-danger">
                {{ ticketDetailsForm.getFeedback('general').getMessage() }}
            </div>
        {% endif %}

        <div class="row blockspace">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                    GO TO PAYMENT <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!--suppress HtmlUnknownTarget -->
            <a href="/tickets/" class="text-muted">
                <i class="fas fa-arrow-left"></i> BACK
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <!--suppress HtmlUnknownTarget -->
            <form action="/tickets/abort/" method="post">
                <button type="submit" class="btn-link" style="margin: 0; padding: 0;">
                    <span class="text-danger">
                        <i class="fas fa-ban"></i> ABORT
                    </span>
                </button>
            </form>
        </div>
    </div>


{% endblock %}
