<html>
<head>
    <title>Ticket scan</title>
</head>
<body style="padding: 20px;">
{% if ticketNotFound %}

    <h1 class="text-danger">TICKET NOT FOUND</h1>

{% else %}

    <h1>{{ attendeeName }}</h1>
    <h3>{{ ticketName }}</h3>

    {% if ticketScanned %}
        <h2 class="text-danger">ALREADY SCANNED<br>at {{ ticketScannedAt }}</h2>
    {% else %}
        <form method="post" action="{{ project.getBaseUrl }}/tickets/confirm-scan">
            <input type="hidden" name="ticketItemId" value="{{ ticketItemId }}">
            <button type="submit" style="font-size: 18px;">CONFIRM TICKET</button>
        </form>
    {% endif %}

{% endif %}
</body>
</html>