{% extends "Theme.twig" %}

{% block content %}

    <h1>BUY TICKETS</h1>
    <small>Order ID: {{ ticketOrder.getOrderId }}</small>
    <hr class="blockspace">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!--suppress HtmlUnknownTarget -->
            <a href="/tickets/details/" class="text-muted">
                <i class="fas fa-arrow-left"></i> BACK
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <!--suppress HtmlUnknownTarget -->
            <form action="/tickets/abort/" method="post">
                <button type="submit" class="btn-link" style="margin: 0; padding: 0;">
                    <span class="text-danger">
                        <i class="fas fa-ban"></i> ABORT
                    </span>
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Bill to</h3>
            <address>
                {{ ticketOrder.getBillingAddress.toString|nl2br }}
            </address>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Send tickets &amp; invoice to</h3>
            <p>
                Email: {{ ticketOrder.getEmailAddress }}
            </p>
        </div>
    </div>

    <hr>

    <h3>Ticket details</h3>

    {% for ticketItem in ticketOrder.getTicketItems %}
        <div class="row" style="{{ cycle(['background-color: #f9f9f9', ''], loop.index0) }}">
            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9">
                <h4>{{ ticketItem.getTicket.getName }}</h4>
                {% if ticketItem.getDiscountItem %}
                    <div class="text-danger">
                        Discount code: {{ ticketItem.getDiscountItem.getCode }}
                        | {{ ticketItem.getDiscountItem.getName }}
                    </div>
                {% endif %}
                <p>
                    {{ ticketItem.getTicket.getDescription|raw }}<br>
                    Attendee: {{ ticketItem.getAttendeeName }}
                </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-right">
                <h4>{{ ticketItem.getTicket.getPrice.getMoney|formatMoney }}</h4>
                {% if ticketItem.getDiscountItem %}
                    <span class="text-danger">{{ ticketItem.getDiscountItem.getDiscountPrice.getMoney|formatMoney }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <hr>

    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 text-right">
            Subtotal
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-right">
            {{ ticketOrder.getOrderTotal.getMoney|formatMoney }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 text-right">
            <span class="text-danger">Discount</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-right">
            <span class="text-danger">{{ ticketOrder.getDiscountTotal.getMoney|formatMoney }}</span>
        </div>
    </div>
    {% if ticketOrder.getDiversityDonation %}
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 text-right">
                <span class="text-success">Diversity donation</span>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-right">
                <span class="text-success">{{ ticketOrder.getDiversityDonation.getMoney|formatMoney }}</span>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 text-right">
            Payment fee
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-right">
            {{ ticketOrder.getPaymentFee.getMoney|formatMoney }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 text-right">
            <h4>Total
                <small>(incl. VAT)</small>
            </h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 text-right">
            <h4>{{ ticketOrder.getPaymentTotal.getMoney|formatMoney }}</h4>
        </div>
    </div>

    <hr>

    {% if ticketOrder.getPaymentProvider.toString == 'PayPal' %}

        <!--suppress HtmlUnknownTarget -->
        <form action="/tickets/purchase" method="post" id="buy-tickets-form">
            <input type="hidden" name="token" value="{{ ticketPaymentForm.getToken }}">
            <div class="row blockspace">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="cocOptIn" id="cocOptIn" value="1">
                            By purchasing tickets I confirm that I have read the
                            <a href="https://dresden-code-of-conduct.org/en/" target="_blank">Code of Conduct (CoC)</a>
                            for this event and agree to its enforcement.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="termsOptIn" id="termsOptIn" value="1">
                            By purchasing tickets I confirm that I have read and accepted the
                            <a data-toggle="modal" data-target="#terms-and-conditions">Terms & Conditions</a>
                            of this event.
                        </label>
                    </div>
                </div>
            </div>

            {% if ticketPaymentForm.hasFeedback('general') %}
                <div class="blockspace alert alert-danger">
                    {{ ticketPaymentForm.getFeedback('general').getMessage() }}
                </div>
            {% endif %}

            <div class="row blockspace">
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-success btn-lg btn-block" id="buttonPurchase" disabled>
                        PURCHASE TICKETS for {{ ticketOrder.getPaymentTotal.getMoney|formatMoney }}
                        via {{ ticketOrder.getPaymentProvider }}
                    </button>
                    <p class="blockspace">
                        <i class="fas fa-info-circle"></i>
                        You will be redirected to the {{ ticketOrder.getPaymentProvider }} payment service.
                    </p>
                </div>
            </div>
        </form>

    {% endif %}

    {% if ticketOrder.getPaymentProvider.toString == 'Stripe' %}

        <!--suppress HtmlUnknownTarget -->
        <form action="/tickets/stripe-success" method="post" id="stripe-purchase-form">
            <input type="hidden" name="token" value="{{ ticketPaymentForm.getToken }}">
            <div class="row blockspace">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="cocOptIn" id="cocOptIn" value="1">
                            By purchasing tickets I confirm that I have read the
                            <a href="https://dresden-code-of-conduct.org/en/" target="_blank">Code of Conduct (CoC)</a>
                            for this event and agree to its enforcement.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="termsOptIn" id="termsOptIn" value="1">
                            By purchasing tickets I confirm that I have read and accepted the
                            <a data-toggle="modal" data-target="#terms-and-conditions">Terms & Conditions</a>
                            of this event.
                        </label>
                    </div>
                </div>
            </div>

            <div class="row blockspace">
                <div class="col-xs-12 text-center">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ stripeConfig.getApiPublicKey }}"
                            data-amount="{{ ticketOrder.getPaymentTotal.getMoney.getAmount }}"
                            data-name="PHP USERGROUP DRESDEN e.V."
                            data-description="#PHPDD18 ticket order • {{ ticketOrder.getTicketItems.count }} ticket(s)"
                            data-image="{{ project.getBaseUrl }}/assets/images/payments/phpugdd-logo.png"
                            data-locale="en"
                            data-zip-code="true"
                            data-currency="EUR"
                            data-email="{{ ticketOrder.getEmailAddress.toString }}"
                            data-allow-remember-me="false"
                            data-label="PURCHASE TICKETS for {{ ticketOrder.getPaymentTotal.getMoney|formatMoney }} via Stripe">
                    </script>
                </div>
            </div>

        </form>

    {% endif %}

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <!--suppress HtmlUnknownTarget -->
            <a href="/tickets/details/" class="text-muted">
                <i class="fas fa-arrow-left"></i> BACK
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <!--suppress HtmlUnknownTarget -->
            <form action="/tickets/abort/" method="post">
                <button type="submit" class="btn-link" style="margin: 0; padding: 0;">
                    <span class="text-danger">
                        <i class="fas fa-ban"></i> ABORT
                    </span>
                </button>
            </form>
        </div>
    </div>

    {% include 'Tickets/Read/Pages/Includes/TermsAndConditionsModal.twig' %}

{% endblock %}
