{% extends "Theme.twig" %}

{% block content %}

    <h1>BUY TICKETS</h1>
    <hr class="blockspace">

    {% if ticketSelectForm.hasFeedback('general') %}
        <div class="blockspace alert alert-danger">
            {{ ticketSelectForm.getFeedback('general').getMessage() }}
        </div>
    {% endif %}

    <!--suppress HtmlUnknownTarget -->
    <form method="post" action="/tickets/select" id="select-tickets-order-form">
        <input type="hidden" name="token" value="{{ ticketSelectForm.getToken() }}">

        {% for ticket in ticketInfos %}
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                    <img src="{{ project.getBaseUrl }}{{ ticket.getImage }}" alt="{{ ticket.getName }}"
                         class="img-rounded img-responsive">
                </div>
                <div class="col-xs-6 col-sm-8 col-md-9 col-lg-9">
                    <h4>{{ ticket.getName }}</h4>
                    <p>
                        {{ ticket.getDescription|raw }}
                    </p>
                    <h3>
                        {{ ticket.getPrice.getMoney|formatMoney }} <sup>*</sup>
                        <small class="text-muted"> | {{ ticket.getAvailableSeats }} seats available</small>
                    </h3>

                    <p>
                        <small class="text-muted">
                            Available from {{ ticket.getValidFrom|formatDate }}
                            to {{ ticket.getValidTo|formatDate }}
                        </small>
                        {% if not ticket.isAvailable %}
                            <br>
                            <small class="text-danger">
                                This ticket is not for sale at the moment.
                            </small>
                        {% endif %}
                    </p>
                </div>
                <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                    <label for="quantity[{{ ticket.getId }}]" class="sr-only">Quantity</label>
                    <select id="quantity[{{ ticket.getId }}]"
                            name="quantity[{{ ticket.getId }}]"
                            class="form-control"{% if not ticket.isAvailable %} disabled{% endif %}>
                        {% for i in 0..ticket.getMaxSeatsPerOrder %}
                            <option value="{{ i }}"{% if ticketSelectForm.get('selectedTickets')[ticket.getId().toString] == i %} selected{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <hr>
        {% endfor %}

        <div class="row blockspace">
            <div class="col-xs-12">
                <sup>*</sup> Incl. VAT, excl. payment fee
            </div>
        </div>

        {% if ticketSelectForm.hasFeedback('general') %}
            <div class="blockspace alert alert-danger">
                {{ ticketSelectForm.getFeedback('general').getMessage() }}
            </div>
        {% endif %}

        <div class="row blockspace">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                    ORDER TICKETS NOW <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>

    </form>

{% endblock %}
